*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}
body{
    background: #091921;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border-radius: 10px;
    padding: 8px;
    background: #091921;
    box-shadow:  30px 30px 71px #040a0d,-30px -30px 71px #0e2835;
    
}
.calculator form input{
    height: 60px;
    width: 60px;
    font-size: 15px;
    color: #3f92f1;
    cursor: pointer;
    background: transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2),-8px -8px 15px rgba(255, 255, 255, .1);
    border-radius: 10px;
    margin: 10px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 15px 0;
}
.display input{
    flex: 1;
    font-size: 25px !important;
    text-align: right;
    color: rgb(14, 206, 126) !important;
    box-shadow:none !important;
    padding: 50px 0;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .25);

}
.display input::selection{
    background: none;
}
input.equal{
    width: 144px  !important;
}
input.decimal{
    font-size: 20px !important;
}
@media (max-width:768px) {
    .calculator form input{
        width: 60px;
        height: 60px;
        margin: 5px;
        font-size: 13px;
        border-radius: 7px;
    }
    input.equal{
        width: 130px  !important;
    }
    .display input{
        font-size: 20px !important;
        padding: 30px 0;
    
    }
}
@media (max-width:375px) {
    .calculator form input{
        height: 50px;
        width: 50px;
    }
    input.equal{
        width: 115px !important;
    }
}